<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.FirstRequirementMapper" >
    <select id="queryFirstRequirementList" resultType="FirstRequirement">
        select id,first_requirement_no,description from first_requirement
    </select>
    <select id="queryFirstRequirementByNo" resultType="FirstRequirement">
        select id,first_requirement_no,description from first_requirement
        where first_requirement_no = #{FirstRequirementNo,jdbcType=INTEGER}
    </select>
    <insert id="addFirstRequirement" parameterType="FirstRequirement">
        insert into first_requirement (id,first_requirement_no,description)
        value (#{id,jdbcType=INTEGER}, #{firstRequirementNo,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
    </insert>
    <update id="updateFirstRequirement" parameterType="FirstRequirement">
        update first_requirement
        set first_requirement_no = #{firstRequirementNo,jdbcType=INTEGER},
        description= #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteFirstRequirementByNo" parameterType="java.lang.Integer">
        delete from first_requirement
        where first_requirement_no = #{FirstRequirementNo,jdbcType=INTEGER}
    </delete>
    <insert id="uploadFirstRequirement" parameterType="com.yjlhz.doademo.dto.FirstRequirementDTO">
    insert into first_requirement (first_requirement_no,description)
    value (#{firstRequirementNo,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
    </insert>
</mapper>