<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.MajorMapper" >
    <select id="queryMajorList" resultType="Major">
        select id,major_name from major
    </select>
    <select id="queryMajorByName" resultType="Major">
        select id,major_name from major where major_name=#{majorName,jdbcType=VARCHAR}
    </select>
    <select id="queryMajorById" resultType="Major">
        select id,major_name from major where id=#{id,jdbcType=INTEGER}
    </select>
    <insert id="addMajor" parameterType="Major">
        insert into major (id,major_name)
        value (#{id,jdbcType=INTEGER}, #{majorName,jdbcType=VARCHAR})
    </insert>
    <insert id="upload" parameterType="com.yjlhz.doademo.dto.MajorDTO">
    insert into major (major_name)
    value (#{majorName,jdbcType=VARCHAR})
    </insert>
</mapper>