<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.PlanMapper" >
    <select id="queryPlanList" resultType="Plan">
        select id,`name`,grade,major,min_score,description from plan
    </select>
    <insert id="addPlan" parameterType="Plan">
        insert into plan (id,`name`,grade,major,min_score,description)
        value (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER},#{major,jdbcType=VARCHAR},#{minScore,jdbcType=DOUBLE},#{description,jdbcType=VARCHAR})
    </insert>
    <delete id="deletePlanById" parameterType="java.lang.Integer">
        delete from plan
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <select id="queryPlanById" resultType="Plan">
        select id,`name`,grade,major,min_score,description from plan
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryPlanByMajorAndGrade" resultType="Plan">
        select id,`name`,grade,major,min_score,description from plan
        where grade = #{grade,jdbcType=INTEGER}
        and major = #{major,jdbcType=VARCHAR}
    </select>
</mapper>