<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.ProblemObjectiveMapper" >
    <insert id="addProblemObjective" parameterType="ProblemObjective">
        insert into problem_objective (id,problem_id,objective_id)
        value (#{id,jdbcType=INTEGER}, #{problemId,jdbcType=INTEGER},#{objectiveId,jdbcType=INTEGER})
    </insert>
    <select id="queryByObjectiveId" resultType="ProblemObjective">
        select id,problem_id,objective_id from problem_objective
        where objective_id = #{objectiveId,jdbcType=INTEGER}
    </select>
    <select id="queryByProblemId" resultType="ProblemObjective">
        select id,problem_id,objective_id from problem_objective
        where problem_id = #{problemId,jdbcType=INTEGER}
    </select>
</mapper>