<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.ProblemMapper" >
    <select id="queryProblemByExamineId" resultType="Problem">
        select id,problem_no,examine_id,max_score,weight from problem
        where examine_id = #{examineId,jdbcType=INTEGER}
    </select>
    <insert id="addProblem" parameterType="Problem">
        insert into problem (id,problem_no,examine_id,max_score,weight)
        value (#{id,jdbcType=INTEGER}, #{problemNo,jdbcType=INTEGER},#{examineId,jdbcType=INTEGER} ,#{maxScore,jdbcType=DOUBLE},#{weight,jdbcType=DOUBLE})
    </insert>
    <select id="queryById" resultType="Problem">
        select id,problem_no,examine_id,max_score,weight from problem
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>