<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.ProblemRequirementMapper" >
    <insert id="addProblemRequirement" parameterType="ProblemRequirement">
        insert into problem_requirement (id,problem_id,requirement_no)
        value (#{id,jdbcType=INTEGER}, #{problemId,jdbcType=INTEGER},#{requirementNo,jdbcType=INTEGER})
    </insert>
</mapper>