<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.RequirementMapper" >
    <select id="queryRequirementList" resultType="Requirement">
        select id,requirement_no,description from requirement
    </select>
    <select id="queryRequirementByNo" resultType="Requirement">
        select id,requirement_no,description from requirement
        where requirement_no = #{requirementNo,jdbcType=INTEGER}
    </select>
    <insert id="addRequirement" parameterType="Requirement">
        insert into requirement (id,requirement_no,description)
        value (#{id,jdbcType=INTEGER}, #{requirementNo,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
    </insert>
    <update id="updateRequirement" parameterType="Requirement">
        update requirement
        set requirement_no = #{requirementNo,jdbcType=INTEGER},
        description= #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteRequirementByNo" parameterType="java.lang.Integer">
        delete from requirement
        where requirement_no = #{requirementNo,jdbcType=INTEGER}
    </delete>
    <insert id="uploadRequirement" parameterType="com.yjlhz.doademo.dto.RequirementDTO">
    insert into requirement (requirement_no,description)
    value (#{requirementNo,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
    </insert>
</mapper>