<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlhz.doademo.mapper.SecondRequirementMapper" >
    <select id="querySecondRequirementList" resultType="SecondRequirement">
        select id,first_requirement_no,second_requirement_no,description from second_requirement
    </select>
    <insert id="addSecondRequirement" parameterType="SecondRequirement">
        insert into second_requirement (id,first_requirement_no,second_requirement_no,description)
        value (#{id,jdbcType=INTEGER}, #{firstRequirementNo,jdbcType=INTEGER}, #{secondRequirementNo,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
    </insert>
    <update id="updateSecondRequirementById" parameterType="SecondRequirement">
        update second_requirement
        set first_requirement_no = #{firstRequirementNo,jdbcType=INTEGER},
        second_requirement_no = #{secondRequirementNo,jdbcType=VARCHAR},
        description= #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteSecondRequirementByNo" parameterType="java.lang.String">
        delete from second_requirement
        where second_requirement_no = #{secondRequirementNo,jdbcType=VARCHAR}
    </delete>
    <select id="querySecondRequirementByNo" resultType="SecondRequirement">
        select id,first_requirement_no,second_requirement_no,description from second_requirement
        where second_requirement_no = #{secondRequirementNo,jdbcType=VARCHAR}
    </select>
    <insert id="uploadSecondRequirement" parameterType="com.yjlhz.doademo.dto.SecondRequirementDTO">
    insert into second_requirement (first_requirement_no,second_requirement_no,description)
    value (#{firstRequirementNo,jdbcType=INTEGER}, #{secondRequirementNo,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
    </insert>
</mapper>